<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive File <%= id %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1>Receive File: <%= id %></h1>
    <div id="fileInfo"></div>
    <div id="uuid" style="display: none;"><%= id %></div>
    <p>On this page, you can receive a file which the sender has prepared for you.</p>
    <button onclick="ready_to_receiveFile('<%= id %>')" id="receiveFileBtn">Receive File</button>
    <div class="progress-container" id="progress-container" style="display: none;">
        <div class="progress-bar" id="myBar">0%</div>
    </div>
    <button onclick="ready_to_saveFile()" id="saveFileBtn" style="display: none;">Save File</button>
    <%- include('partials/footer') %>
    <script src="/jss/receive.js"></script>
    <script src="/jss/progress.js"></script>
</body>
</html>

