<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive File <%= id %></title>
    <link rel="stylesheet" href="/styles.css">
    <link href="/bs/bootstrap.min.css" rel="stylesheet" >
    <script src="/jss/bootstrap/colors.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3354186740741966" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header') %>
    <div class="px-4 py-3 my-3 text-center">
        <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#sftu"/></svg>
        <h1 class="display-5 fw-bold text-body-emphasis">Receive and decrypt the file</h1>
        <div class="col-lg-9 mx-auto">
            <p class="lead mb-4">On this page, you can receive a file which the sender has prepared for you.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <div id="fileInfo">
                </div>
                <div id="save_cancelled" style="display: none;">
                    <h4>Save cancelled</h4>
                    <p>The file was not saved. Please try again.</p>
                </div>
                <div id="download_cancelled" style="display: none;">
                    <h4>Download cancelled</h4>
                    <p>The file was not received. Please try again.</p>
                </div>
            </div>
        </div>
        <div id="uuid" style="display: none;"><%= id %></div>
        <button class="btn btn-primary btn-lg px-4 gap-3" onclick="ready_to_receiveFile('<%= id %>')" id="receiveFileBtn">Receive and decrypt</button>
        <button class="btn btn-primary btn-lg px-4 gap-3 mt-5" onclick="saveFileToFS()" id="saveFileBtn" style="display: none;">Save File</button>
        <div class="mt-4 col-lg-9 mx-auto" id="encryption_key_table">
            <table class="table col-lg-9" >
                <caption>The key is used to decrypt the file</caption>
                <thead>
                    <tr>
                        <th scope="col"><p class="lead">Decryption key</p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p class="fs-5 font-monospace fw-light" id="masterKey"><%= key %></p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="progress-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="progress-title">Receiving and decrypting the file</h4>
                </div>
                <div class="modal-body">
                    <div class="progress" role="progressbar" aria-label="Encryption progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="myBar" style="width: 0%"></div>
                    </div>
                    <div class="mt-4">
                        <p class="lead" id="progress-details">0 of 0 bytes</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelProgress()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="/bs/bootstrap.bundle.min.js" ></script>

    <% if (process.env.NODE_ENV === 'production') { %>
    <script src="/jss/receive.min.js"></script>
    <script src="/jss/progress.min.js"></script>
    <script src="/jss/main.min.js"></script>
<% } else { %>
    <script src="/jss/receive.js"></script>
    <script src="/jss/progress.js"></script>
    <script src="/jss/main.js"></script>
<% } %>

</body>
</html>

