<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Form</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <h2 id="file_id_declaration">File ID: <%= id %></h2>
    <div id="uuid" style="display: none;"><%= id %></div>
    <div id="fileInfo"></div>
    <input type="file" id="fileInput">
    <button id="upload_button" onclick="uploadFile('<%= id %>')">Upload File</button>
    <div id="progress"></div>
    <div id="receive_url" style="display: none;"><pre><%= receive_url %></pre></div>
    <%- include('partials/footer') %>
    <script src="/jss/send.js"></script>
</body>
</html>
