<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Form</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <h2 id="file_id_declaration">File ID: <%= id %></h2>
    <div id="uuid" style="display: none;"><%= id %></div>
    <div id="fileInfo"></div>
    <div id="masterKey"></div>
    <input type="file" id="fileInput">
    <button id="upload_button" onclick="uploadFile('<%= id %>')">Encrypt the file</button>
    <div class="progress-container" id="progress-container" style="display: none;">
        <div class="progress-bar" id="myBar">0%</div>
    </div>

    <div id="receive_url" style="display: none;">
        You can share this URL with the recipient to allow them to download the file:
        <dd><%= receive_url %></dd>
    </div>
    <%- include('partials/footer') %>
    <script src="/jss/send.js"></script>
    <script src="/jss/progress.js"></script>
    <script src="/jss/main.js"></script>
</body>
</html>
